<div class="container">
  <div class="contact-page-contact">
    <h1><a href="/">Contacts</a><h1>
    <% if @contact['isFavorite'] == false %>
    <img src="/images/Favorite-Star(False)/Favorite-False.png" alt="star">
    <% end %>
  </div>
</div>
