<div class="container">
  <h1 class="home-contact">Contacts</h1>

    <h2 class="fav-other-contacts">FAVORITE CONTACTS</h2>
<!-- need to refactor this code... not dry make a helper method. also style a little more -->
      <%  @favorite_contacts.each do |contact| %>
          <div class="contact">
            <div class="contact-small-photo">
              <!-- <img src=< %= contact['smallImageURL'] % > alt="no contact"> -->
             <!--  < %= contact['isFavorite'] %> -->
            </div>
           <!--  <div class="contact-info">
              <img src="/images/Favorite-Star/Favorite-true1.png" alt="star">
              <h3><a href="/contact/<%= contact['id'] %>">< %= contact['name'] % ></a></h3>
              < % if !(contact['companyName'] == '') || !(contact['companyName'] == nil)% >
                <p>< %= contact['companyName'] % ></p>
              < % end % >
            </div> -->
            <br>
            <br>
          </div>
      <% end %>


</div>
